---
import Section from "./Section.astro";
---
<Section title="about">
  <h3>バックエンド・ライブラリ開発・インフラ構築を得意とするITエンジニアです。</h3>
  <p>
    webバックエンドの開発だけでなく、連携したChrome拡張機能やWindowsサービス、リアクトを用いたフロントエンド開発や、webサーバーへのCDの構築などの経験があります。
    プライベートでは、webアプリケーションよりもライブラリ開発や、ゲームのmod開発などが多くなっています。
  </p>
  <p>コミュニティ運営も行っており、クローズドな30人規模のコミュニティで副代表を務め、開発者を兼任してMinecraftを利用したRPG開発を行っています。</p>
</Section>

<style>
  h3{
    display: block;
    border-radius: 5px;
    margin: 20px 10px;
  }
</style>