---
import MainItem from "./MainItem.astro";
---
<div class="scroll">
  <MainItem/>
  <MainItem/>
  <MainItem/>
  <MainItem/>
  <MainItem/>
  <MainItem/>
</div>

<style>
  div {
    width: 100%;
    box-sizing: border-box;
    overflow: scroll;
    height: 100%;
  }
</style>