---
import ProfileSection from "../section/About.astro";
import SkillSection from "../skill/Skill.astro";
import ExperienceSection from "../experience/Experience.astro";
import ProductsSection from "../products/ProductsSection.astro";
---
<div class="scroll">
  <ProfileSection/>
  <SkillSection/>
  <ExperienceSection/>
  <ProductsSection/>
</div>

<style>
  div {
    width: 100%;
    box-sizing: border-box;
    overflow: scroll;
    height: 100%;
  }
</style>