---

---
<div>

</div>
<style>
  div {
    height: 800px;
    border-radius: 5px;
    border: 2px solid var(--mcolor-outline);
    background-color: var(--mcolor-secondary-container);
    width: 100%;
    box-sizing: border-box;
    &:not(:first-child) {
      margin: 30px 0 0 0;
    }
  }
</style>