---
import Profile from "../section/About.astro";
import Skill from "../skill/Skill.astro";
---
<div class="scroll">
  <Profile/>
  <Skill/>
</div>

<style>
  div {
    width: 100%;
    box-sizing: border-box;
    overflow: scroll;
    height: 100%;
  }
</style>