---
import Profile from "./About.astro";
---
<div class="scroll">
  <Profile/>
</div>

<style>
  div {
    width: 100%;
    box-sizing: border-box;
    overflow: scroll;
    height: 100%;
  }
</style>