---
import Layout from '../layouts/Layout.astro';
import Nav from "../components/nav/Nav.astro";
import Main from "../components/main/Main.astro";
---

<Layout title="kigawa's portfolio">
  <div>
    <Nav/>
    <Main/>
  </div>
</Layout>
<style>
  div {
    display: flex;
    max-height: calc(100dvh - env(safe-area-inset-bottom));
    box-sizing: border-box;
  }
  @media (max-width: 1000px) {
    div {
      flex-direction: column;
    }
  }
</style>
