---
import Layout from '../layouts/Layout.astro';
import Container from "../components/Container.astro";
import Card from "../components/cards/Card.astro";
---

<Layout title="kigawa's portfolio">
  <main>
    <Card>

    </Card>
  </main>
</Layout>

