---

---
<div class="container">
  <slot/>
</div>

<style>
  .container {
    border: 2px solid var(--mcolor-outline-variant);
    border-radius: 5px;
    box-shadow: var(--mcolor-on-surface-variant) 2px 2px 3px;
  }
</style>