---

---
<div class="nav-wrapper">
  <nav>
    <h1>kigawa's portfoilio</h1>
  </nav>
</div>
<style>
  .nav-wrapper{
    height: 100vh;
    padding: 10px 0 10px 10px;
    width: 500px;
    box-sizing: border-box;
    display: flex;
  }
  nav {
    background-color: var(--mcolor-secondary-container);
    width: 100%;
    border-radius: 8px;
    border: 2px solid var(--mcolor-outline);
    padding: 25px;
  }
</style>