---
import Section from "./Section.astro";
---
<Section title="about">
  <p>
    言語やプラットフォームを問わないフロントエンド、バックエンド、ネイティブアプリ開発から、
    KubernetesやTerraformを用いたプラットフォーム構築まで、一貫したシステム設計・開発を得意としています。
  </p>
</Section>

<style>
  h3{
    display: block;
    border-radius: 5px;
    margin: 20px 10px;
  }
</style>