---
import Section from "../main/Section.astro";
import Card from "./Card.astro";
---
<Section title="skill">
  <div>
    <Card title="資格">
      <ul>
        <li>基本情報技術者</li>
        <li>マルチメディア検定 エキスパート</li>
        <li>画像処理技術者検定 ベーシック</li>
        <li>情報活用試験 1級</li>
        <li>情報システム試験 プログラミングスキル</li>
        <li>情報システム試験 基本スキル</li>
        <li>情報システム試験 システムデザインスキル</li>
        <li>Java SE Programmer I(Java Silver)</li>
        <li>少林寺拳法初段</li>
      </ul>
    </Card>
  </div>
  <Card title="java"></Card>
</Section>