---
import Card from "../section/Card.astro";
interface Props {
  desc: string
  usingPeriod: string
  title: string
}
const {desc, usingPeriod, title} = Astro.props
---
<Card title={title}>
  <p>{desc}</p>
  <p>使用年数: {usingPeriod}</p>
</Card>