---
import Section from "../section/Section.astro";
import Card from "../section/Card.astro";
import SkillCard from "./SkillCard.astro";
class Month {
  constructor(
    public year: number,
    public month: number
  ) {
  }
}
class Period {
  constructor(
    public start: Month,
    public end: Month
  ) {
  }
}
function calcUsingPeriod(isCurrent: boolean, ...period: Period[]): string {
  let totalMonth = 0
  let endDate = ""
  period.forEach(value => {
    totalMonth += (value.end.year - value.start.year) * 12
    totalMonth += value.end.month - value.start.month
    endDate = `${value.end.year}年${value.end.month}月`
  })
  return "約" + (Math.round((totalMonth / 12) * 10) / 10) + "年" + (isCurrent ? `(${endDate}時点、現在まで)` : "")
}
---
<Section title="skill">
  <div>

    <Card title="資格">
      <ul>
        <li>基本情報技術者</li>
        <li>マルチメディア検定 エキスパート</li>
        <li>画像処理技術者検定 ベーシック</li>
        <li>情報活用試験 1級</li>
        <li>情報システム試験 プログラミングスキル</li>
        <li>情報システム試験 基本スキル</li>
        <li>情報システム試験 システムデザインスキル</li>
        <li>Java SE Programmer I (Java Silver)</li>
        <li>英検3級</li>
        <li>少林寺拳法初段</li>
      </ul>
    </Card>
    <SkillCard
        title="java" usingPeriod={calcUsingPeriod(false,
      new Period(new Month(2021, 3), new Month(2023, 10)),
    )} desc="言語機能を利用してのライブラリ開発ができる程度"/>
    <SkillCard
        title="jvm" usingPeriod={calcUsingPeriod(true,
      new Period(new Month(2020, 11), new Month(2024, 5)),
    )} desc="GCなどチューニングができる程度"/>
    <SkillCard
        title="kotlin/jvm" usingPeriod={calcUsingPeriod(true,
      new Period(new Month(2021, 11), new Month(2024, 5)),
    )} desc="言語機能を利用してのライブラリ開発ができる程度"/>
    <SkillCard
        title="kotlin/js" usingPeriod={calcUsingPeriod(true,
      new Period(new Month(2023, 10), new Month(2024, 5)),
    )} desc="kotlin-reactなどを利用したフロントエンド開発ができる程度"/>
    <SkillCard
        title="kotlin/common" usingPeriod={calcUsingPeriod(true,
      new Period(new Month(2023, 10), new Month(2024, 5)),
    )} desc="言語機能を利用してのライブラリ開発ができる程度"/>
    <SkillCard
        title="spring boot" usingPeriod={calcUsingPeriod(false,
      new Period(new Month(2022, 10), new Month(2023, 7)),
    )} desc="言語機能を利用してのライブラリ開発ができる程度"/>
    <SkillCard
        title="php/symfony" usingPeriod={calcUsingPeriod(false,
      new Period(new Month(2022, 1), new Month(2022, 12)),
    )} desc="基本的なwebアプリケーションを作成できる程度"/>
    <SkillCard
        title="bash" usingPeriod={calcUsingPeriod(true,
      new Period(new Month(2020, 1), new Month(2024, 5)),
    )} desc="自動化スクリプトを作成できる程度"/>
    <SkillCard
        title="html/css" usingPeriod={calcUsingPeriod(true,
      new Period(new Month(2022, 1), new Month(2024, 5)),
    )} desc="デザインを考え実装できる程度"/>
    <SkillCard
        title="python" usingPeriod={calcUsingPeriod(true,
      new Period(new Month(2023, 4), new Month(2024, 5)),
    )} desc="様々なフレームワークを利用してアプリケーションを実装できる程度"/>
    <SkillCard
        title="typescript" usingPeriod={calcUsingPeriod(true,
      new Period(new Month(2023, 4), new Month(2024, 5)),
    )} desc="様々なフレームワークを利用してアプリケーションを実装できる程度"/>
    <SkillCard
        title="rust" usingPeriod={calcUsingPeriod(true,
      new Period(new Month(2022, 10), new Month(2024, 5)),
    )} desc="基本的ばアプリケーションを実装できる程度"/>
    <SkillCard
        title="C#" usingPeriod={calcUsingPeriod(false,
      new Period(new Month(2022, 5), new Month(2022, 11)),
    )} desc="基本的ばアプリケーションを実装できる程度"/>
    <SkillCard
        title="go" usingPeriod={calcUsingPeriod(false,
      new Period(new Month(2022, 3), new Month(2022, 9)),
    )} desc="基本的ばアプリケーションを実装できる程度"/>

    <SkillCard
        title="RDB" usingPeriod={calcUsingPeriod(true,
      new Period(new Month(2020, 1), new Month(2024, 5)),
    )} desc="設計ができる程度"/>
    <SkillCard
        title="MySQL/Mariadb" usingPeriod={calcUsingPeriod(true,
      new Period(new Month(2020, 1), new Month(2024, 5)),
    )} desc="簡単なチューニングができる程度"/>
    <SkillCard
        title="SQLite" usingPeriod={calcUsingPeriod(true,
      new Period(new Month(2023, 7), new Month(2024, 3)),
    )} desc="基本的な機能を使用できる程度"/>
    <SkillCard
        title="ドキュメントDB" usingPeriod={calcUsingPeriod(false,
      new Period(new Month(2023, 1), new Month(2023, 7)),
    )} desc="設計ができる程度"/>

    <SkillCard
        title="Docker" usingPeriod={calcUsingPeriod(true,
      new Period(new Month(2022, 1), new Month(2024, 5)),
    )} desc="Dockerfileを記述できる程度"/>
    <SkillCard
        title="kubernates" usingPeriod={calcUsingPeriod(true,
      new Period(new Month(2022, 11), new Month(2024, 5)),
    )} desc="継続して運用できる程度"/>

    <SkillCard
        title="nginx" usingPeriod={calcUsingPeriod(true,
      new Period(new Month(2021, 4), new Month(2024, 5)),
    )} desc="基本的な機能を使用できる程度"/>
    <SkillCard
        title="apache" usingPeriod={calcUsingPeriod(false,
      new Period(new Month(2020, 1), new Month(2022, 1)),
      new Period(new Month(2023, 1), new Month(2023, 7)),
    )} desc="基本的な機能を使用できる程度"/>

    <SkillCard
        title="prometheus" usingPeriod={calcUsingPeriod(true,
      new Period(new Month(2023, 7), new Month(2024, 5)),
    )} desc="基本的な機能を使用できる程度"/>
    <SkillCard
        title="grafana" usingPeriod={calcUsingPeriod(true,
      new Period(new Month(2023, 7), new Month(2024, 5)),
    )} desc="基本的な機能を使用できる程度"/>
    <SkillCard
        title="zabbix" usingPeriod={calcUsingPeriod(false,
      new Period(new Month(2021, 1), new Month(2023, 1)),
    )} desc="基本的な機能を使用できる程度"/>

  </div>
</Section>
<style>
  div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
  }
</style>