---
import NavButton from "./NavButton.astro";
import LabeledItem from "../LabeledItem.astro";
---
<div class="nav-wrapper">
  <nav>
    <a href="/"><h1>kigawa's portfolio</h1></a>
    <ul>
      <NavButton title="about"/>
      <NavButton title="skill"/>
      <NavButton title="experience"/>
      <NavButton title="products"/>
    </ul>
    <footer>
      <LabeledItem text="twitter">
        <a href="https://twitter.com/kigawa20">@kigawa20</a>
      </LabeledItem>
      <LabeledItem text="github">
        <a href="https://github.com/kigawa01">kigawa01</a>
      </LabeledItem>
      <LabeledItem text="sourcecode">
        <a href="https://github.com/kigawa01/portfolio">https://github.com/kigawa01/portfolio</a>
      </LabeledItem>
    </footer>
  </nav>
</div>
<style>
  .nav-wrapper {
    height: 100vh;
    padding: 10px 0 10px 10px;
    width: 500px;
    box-sizing: border-box;
    display: flex;
  }
  nav {
    background-color: var(--mcolor-secondary-container);
    color: var(--mcolor-on-secondary-container);
    width: 100%;
    border-radius: 8px;
    border: 2px solid var(--mcolor-outline);
    padding: 28px;
    display: flex;
    flex-direction: column;
  }
  ul {
    margin: 60px 0 0 0;
    font-size: 1.5rem;
    flex: 1;
  }
  a {
    text-decoration: underline;
  }
</style>