---
interface Props {
  title: string
}
const {title} = Astro.props
---
<li>
  <a href={`#${title}`}>
    {title}
  </a>
</li>

<style>
  a {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid var(--mcolor-outline);
    width: 100%;
    background: var(--mcolor-primary-container);
    color: var(--mcolor-on-primary-container);
    padding: 10px 20px;
    &:hover {
      background: var(--mcolor-secondary);
      color: var(--mcolor-on-secondary);
    }
  }
  li {
    margin: 15px 0;
  }
</style>